button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input, textarea, select, button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font  : 1.2rem sans-serif;
    padding : 0.5em;
    margin  : 0;
    background : #222;
}
  
form {
    position : relative;
    width  : 740px;
    height : 498px;
    margin : 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background : #FFF;
}

.helptext {
    font-size: 80%;
}

.update {
    margin-top: 1em;
}

.error {
    color:darkred;
}

.message {
    color: green;
    margin-top: 0.5em;
}

img.copy-deeplink {
    float: right;
    clear: left;
}